<h1>Conditions</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Max Temperature</th>
      <th scope="col">Min Temperature</th>
      <th scope="col">Mean Temperature</th>
      <th scope="col">Mean Humidity</th>
      <th scope="col">Mean Visibility</th>
      <th scope="col">Mean Wind Speed</th>
      <th scope="col">Precipitation</th>
      <th scope="col">Admin Options</th>
    </tr>
  </thead>
  <tbody>
    <% @conditions.each do |condition| %>
    <tr>
      <th scope="row"><%= condition.id %></th>
      <td><%= condition.date %></td>
      <td><%= condition.max_temperature %></td>
      <td><%= condition.min_temperature %></td>
      <td><%= condition.mean_temperature %></td>
      <td><%= condition.mean_humidity %></td>
      <td><%= condition.mean_visibility %></td>
      <td><%= condition.mean_wind_speed %></td>
      <td><%= condition.precipitation %></td>
      <td>
        <%= link_to "Edit", edit_admin_condition_path(condition) %>
        <%= link_to "Delete", admin_condition_path(id: condition.id), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
