<h1>Condition <%= @condition.id %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Max Temperature</th>
      <th scope="col">Min Temperature</th>
      <th scope="col">Mean Temperature</th>
      <th scope="col">Mean Humidity</th>
      <th scope="col">Mean Visibility</th>
      <th scope="col">Mean Wind Speed</th>
      <th scope="col">Precipitation</th>
      <% if current_admin? %>
      <th scope="col">Admin Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @condition.date %></td>
      <td><%= @condition.max_temperature %></td>
      <td><%= @condition.min_temperature %></td>
      <td><%= @condition.mean_temperature %></td>
      <td><%= @condition.mean_humidity %></td>
      <td><%= @condition.mean_visibility %></td>
      <td><%= @condition.mean_wind_speed %></td>
      <td><%= @condition.precipitation %></td>
      <% if current_admin? %>
      <td>
        <%= link_to "Edit", edit_admin_condition_path %>
        <%= link_to "Delete", admin_condition_path, method: :delete %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
