<h1 class='text-center'>Condition <%= @condition.id %></h1>
<%= link_to "Back to All Conditions", conditions_path, class: 'text-center'%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Max Temperature</th>
      <th scope="col">Min Temperature</th>
      <th scope="col">Mean Temperature</th>
      <th scope="col">Mean Humidity</th>
      <th scope="col">Mean Visibility</th>
      <th scope="col">Mean Wind Speed</th>
      <th scope="col">Precipitation</th>
      <% if current_admin? %>
      <th scope="col">Admin Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @condition.date.in_time_zone("MST").strftime("%m/%d/%Y") %></td>
      <td><%= @condition.max_temperature %></td>
      <td><%= @condition.min_temperature %></td>
      <td><%= @condition.mean_temperature %></td>
      <td><%= @condition.mean_humidity %></td>
      <td><%= @condition.mean_visibility %></td>
      <td><%= @condition.mean_wind_speed %></td>
      <td><%= @condition.precipitation %></td>
      <% if current_admin? %>
      <td>
        <%= link_to "Edit", edit_admin_condition_path, class: "btn btn-warning" %>
        <%= link_to "Delete", admin_condition_path, method: :delete,
            class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this condition?"}%>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
