<h1>Trips Index</h1>

<% @trips.each do |trip| %>
<%= trip.duration %>
<%= trip.start_date %>
<%= trip.end_date %>
<%= trip.bike_id %>
<%= trip.subscription_type %>
<%= trip.zip_code %>
<%= trip.start_station_id %>
<%= trip.end_station_id %>
<% end %>
