<h1>Trip <%= @trip.id %> Show Page</h1>

<%= @trip.duration %>
<%= @trip.start_date %>
<%= @trip.end_date %>
<%= @trip.zip_code %>
<%= @trip.bike_id %>
<%= @trip.start_station_id %>
<%= @trip.end_station_id %>
<%= @trip.subscription_type %>
