<div class="new-form">
  <%= form_for [:admin, @item] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, :step => 0.01 %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select(:status, [["active"], ["retired"]]) %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
  <% end %>

</div>
