<h1 class='text-center'><%= @station.name %> Station</h1>
<%= link_to "Back to All Stations", stations_path, class: 'text-center'%>
<table class="table">
  <tbody>
    <tr>
      <th scope="row"><%= @station.id %></th>
        <td>Dock Count: <%= @station.dock_count %></td>
        <td>City: <%= @station.city %></td>
        <td>Installation Date: <%= @station.installation_date %></td>
      <% if current_admin? %>
        <td><%= link_to "Edit", edit_admin_station_path(@station), class: "btn btn-warning" %></td>
        <td><%= link_to "Delete", admin_station_path(@station), method: :delete, class: "btn btn-danger" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if current_user %>
  <ul>
    <li>Number of rides started here: <%= @show_data[:ride_count_started] %></li>
    <li>Number of rides ended here: <%= @show_data[:ride_count_ended] %></li>
    <li>Most popular Destination Station: <%= @show_data[:destination_station][0] %> with <%= @show_data[:destination_station][1] %> arrivals</li>
    <li>Most popular Origination Station: <%= @show_data[:origination_station][0] %> with <%= @show_data[:origination_station][1] %> departures</li>
    <li>Date of most trips: <%= @show_data[:most_trips].keys.first %> with <%= @show_data[:most_trips].values.first %> rides</li>
    <li>Most frequent rider zip code: <%= @show_data[:top_zip_code].keys.first %> with <%= @show_data[:top_zip_code].values.first %> rides</li>
    <li>Most used bike: <%= @show_data[:top_bike].keys.first %> (id) with <%= @show_data[:top_bike].values.first %> rides</li>
  </ul>
<% end %>
