<h1 class='text-center'><%= @station.name %> Station</h1>
<%= link_to "Back to All Stations", stations_path, class: 'text-center'%>
<table class="table">
  <tbody>
    <tr>
      <th scope="row"><%= @station.id %></th>
      <td>Dock Count: <%= @station.dock_count %></td>
      <td>City: <%= @station.city %></td>
      <td>Installation Date: <%= @station.installation_date %></td>
    </tr>
  </tbody>
</table>
