<h1 class='text-center'><%= @station.name %> Station</h1>
<%= link_to "Back to All Stations", stations_path, class: 'text-center'%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Dock Count</th>
      <th scope="col">City</th>
      <th scope="col">Installation Date</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <div id="station-attributes">
      <th scope="row"><%= @station.id %></th>
        <td><%= @station.name %></td>
        <td><%= @station.dock_count %></td>
        <td><%= @station.city %></td>
        <td><%= @station.installation_date %></td>
      <% if current_admin? %>
        <td><%= link_to "Edit", edit_admin_station_path(@station), class: "btn btn-warning" %></td>
        <td><%= link_to "Delete", admin_station_path(@station), method: :delete, class: "btn btn-danger",
          data: {confirm: "Are you sure you want to delete #{@station.name}?"} %></td>
      <% end %>
    </div>
    </tr>
  </tbody>
</table>

<% if current_user %>
  <% if @station.start_trips.first && @station.end_trips.first %>

  <h3>Station Information</h3>
    <ul class='list-group'>
      <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
        Number of rides started here:  <%= @show_data[:ride_count_started] %>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of rides ended here: <%= @show_data[:ride_count_ended] %>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
        Most popular Destination Station: <%= @show_data[:destination_station][0] %> with <%= @show_data[:destination_station][1] %> arrivals
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most popular Origination Station: <%= @show_data[:origination_station][0] %> with <%= @show_data[:origination_station][1] %> departures
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
        Date of most trips: <%= @show_data[:most_trips].keys.first.in_time_zone("MST").strftime("%m/%d/%Y") %> with <%= @show_data[:most_trips].values.first %> rides
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most frequent rider zip code: <%= @show_data[:top_zip_code].keys.first %> with <%= @show_data[:top_zip_code].values.first %> rides
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
        Most used bike: <%= @show_data[:top_bike].keys.first %> (id) with <%= @show_data[:top_bike].values.first %> rides
      </li>
    </ul>
  <% else %>
    <p>Station has no data yet. Nothing to see here!</p>
  <% end %>
<% end %>
