<h1 class='text-center'><%= @station.name %> Station</h1>
<%= link_to "Back to All Stations", stations_path, class: 'text-center'%>
<table class="table">
  <tbody>
    <tr>
      <div id="station-attributes">
      <th scope="row"><%= @station.id %></th>
        <td>Dock Count: <%= @station.dock_count %></td>
        <td>City: <%= @station.city %></td>
        <td>Installation Date: <%= @station.installation_date %></td>
      <% if current_admin? %>
        <td><%= link_to "Edit", edit_admin_station_path(@station), class: "btn btn-warning" %></td>
        <td><%= link_to "Delete", admin_station_path(@station), method: :delete, class: "btn btn-danger",
          data: {confirm: "Are you sure you want to delete #{@station.name}?"} %></td>
      <% end %>
    </div>
    </tr>
  </tbody>
</table>

<% if current_user %>
  <% if @station.start_trips.first && @station.end_trips.first %>
    <ul class='list-group'>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of rides started here:
        <span class="badge badge-primary badge-pill"><%= @show_data[:ride_count_started] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of rides ended here:
        <span class="badge badge-primary badge-pill"><%= @show_data[:ride_count_ended] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most popular Destination Station:
        <span class="badge badge-primary badge-pill"><%= @show_data[:destination_station][0] %> with <%= @show_data[:destination_station][1] %> arrivals</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most popular Origination Station:
        <span class="badge badge-primary badge-pill"><%= @show_data[:origination_station][0] %> with <%= @show_data[:origination_station][1] %> departures</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Date of most trips:
        <span class="badge badge-primary badge-pill"><%= @show_data[:most_trips].keys.first.in_time_zone("MST").strftime("%m/%d/%Y") %> with <%= @show_data[:most_trips].values.first %> rides</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most frequent rider zip code:
        <span class="badge badge-primary badge-pill"><%= @show_data[:top_zip_code].keys.first %> with <%= @show_data[:top_zip_code].values.first %> rides</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Most used bike:
        <span class="badge badge-primary badge-pill"><%= @show_data[:top_bike].keys.first %> (id) with <%= @show_data[:top_bike].values.first %> rides</span>
      </li>
    </ul>
  <% end %>
  <% else %>
    <p>Station has no data yet. Nothing to see here!</p>
<% end %>
