<h1 class='text-center'>Welcome <%= current_user.username %>!</h1>

<h3>Your info: </h3>
<ul type='none'>
  <li>Name: <%= current_user.first_name %> <%= current_user.last_name %></li>
  <li>Email: <%= current_user.email %></li>
</ul>
<br/>

<%= link_to "View all Items in Bike Shop", admin_bike_shop_path, class: 'btn btn-info text-center' %>
<br/>

<h2>Orders</h2>

<ul>
  <li>Ordered: <%= @status["ordered"] %></li>
  <li>Paid: <%= @status["paid"] %></li>
  <li>Completed: <%= @status["completed"] %></li>
  <li>Cancelled: <%= @status["cancelled"] %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <div class ='order' id="order-<%= order.id %>">
    <tr>
      <td><%= link_to "Order #{order.id}", order_path(order) %></td>
      <td><%= order.status %></td>
      <td>Edit</td>
    </tr>
  </div>
  <% end %>
</table>
