<h1 class='text-center'>Trips Dashboard</h1>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Average duration of ride:
    <span class="badge badge-primary badge-pill"><%= @average_duration %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Longest ride:
    <span class="badge badge-primary badge-pill"><%= @longest_ride.duration %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Shortest ride:
    <span class="badge badge-primary badge-pill"><%= @shortest_ride.duration %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Station where most rides start:
    <span class="badge badge-primary badge-pill"><%= @most_rides_start.name %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Station where most rides end:
    <span class="badge badge-primary badge-pill"><%= @most_rides_end.name %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Most ridden bike:
    <small>Trip count: <%= @most_ridden_bike[:count] %></small>
    <span class="badge badge-primary badge-pill"><%= @most_ridden_bike[:bike] %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Least ridden bike:
    <small>Trip count: <%= @least_ridden_bike[:count] %></small>
    <span class="badge badge-primary badge-pill"><%= @least_ridden_bike[:bike] %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Date with highest number of trips:
    <small>Trip count: <%= @date_with_highest_trips[:trips] %></small>
    <span class="badge badge-primary badge-pill"><%= @date_with_highest_trips[:date] %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Date with least number of trips:
        <small>Trip count: <%= @date_with_least_trips[:trips] %></small>
    <span class="badge badge-primary badge-pill"><%= @date_with_least_trips[:date] %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Subscriber breakdown:
        <small>Trip count: <%= @subscription_counts["Subscriber"] %></small>
    <span class="badge badge-primary badge-pill">Percent: <%= @subscription_percents["Subscriber"] %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Customer breakdown:
        <small>Trip count: <%= @subscription_counts["Customer"] %></small>
    <span class="badge badge-primary badge-pill">Percent: <%= @subscription_percents["Customer"] %></span>
  </li>
  <% @rides_per_month.each do |month, count| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Month of <%= month %>:
    <span class="badge badge-primary badge-pill">Trips: <%= count %></span>
  </li>
  <% end %>
  <% @year_counts.each do |pair| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Year of <%= pair.keys[0] %>:
    <span class="badge badge-primary badge-pill">Trips: <%= pair.values[0] %></span>
  </li>
  <% end %>
  <div>
    <li>Weather Conditions for most rides:</li>
    <li>Date: <%= @weather_on_most_rides.date %></li>
    <li>Max Temperature: <%= @weather_on_most_rides.max_temperature %></li>
    <li>Mean Temperature: <%= @weather_on_most_rides.mean_temperature %></li>
    <li>Min Temperature: <%= @weather_on_most_rides.min_temperature %></li>
    <li>Mean Humidity: <%= @weather_on_most_rides.mean_humidity %></li>
    <li>Mean Visibility: <%= @weather_on_most_rides.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @weather_on_most_rides.mean_wind_speed %></li>
    <li>Precipitation: <%= @weather_on_most_rides.precipitation %></li>
  <div>
  <div>
    <li>Weather Conditions for least rides:</li>
    <li>Date: <%= @weather_on_least_rides.date %></li>
    <li>Max Temperature: <%= @weather_on_least_rides.max_temperature %></li>
    <li>Mean Temperature: <%= @weather_on_least_rides.mean_temperature %></li>
    <li>Min Temperature: <%= @weather_on_least_rides.min_temperature %></li>
    <li>Mean Humidity: <%= @weather_on_least_rides.mean_humidity %></li>
    <li>Mean Visibility: <%= @weather_on_least_rides.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @weather_on_least_rides.mean_wind_speed %></li>
    <li>Precipitation: <%= @weather_on_least_rides.precipitation %></li>
  <div>
</ul>
