<h1>Edit your Account Info</h1>

<div class="login-form">
  <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="form-group">
    <%= f.submit "Update Account" %>
    </div>

  <% end %>
</div>
