<div class="edit-form">
  <%= form_for [:admin, @station] do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :dock_count %>
      <%= f.number_field :dock_count %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="form-group">
      <%= f.label :installation_date %>
      <%= f.date_field :installation_date %>
    </div>

    <div class="form-group">
      <%= f.submit %>
    </div>

  <% end %>
</div>
