<h1 class='text-center'>Edit Trip</h1>

<div class="edit-form">
  <%= form_for [:admin, @trip] do |f| %>
    <div class="form-group">
      <%= f.label :duration %>
      <%= f.text_field :duration %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.date_field :end_date %>
    </div>
    <div class="form-group">
      <%= f.label :bike_id %>
      <%= f.text_field :bike_id %>
    </div>
    <div class="form-group">
      <%= f.label :subscription_type %>
      <%= f.text_field :subscription_type %>
    </div>
    <div class="form-group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>
    <div class="form-group">
      <%= f.label :start_station_id %>
      <%= f.collection_select :start_station_id, @stations, :id, :name, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :end_station_id %>
      <%= f.collection_select :end_station_id, @stations, :id, :name, prompt: true %>
    </div>
  
    <%= f.submit "Update Trip" %>

  <% end %>
</div>
