<h1>Your Cart</h1>
<p>Please log in to purchase!</p>

<div>
  <h3>Your current cart total: <%= number_to_currency(@cart.total_price) %></h3>
  <%= button_to "Checkout", orders_path, class: "btn btn-primary" %>
</div>

<div class="card container-fluid">
  <div class='row'>
  <% @cart_items.each do |item| %>
  <div class ='col-sm-6 col-lg-3 py-2 item' id="cart-item-<%= item.id %>">
    <div class='card'>
    <%= image_tag(item.image, class: "card-img-top", alt: "Bike picture") %>
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text">Price: <%= number_to_currency(item.price) %></p>
      <p class="card-text">Quantity: <%= @cart.contents[item.id.to_s] %></p>
      <p class="card-text">Adjust Quantity:
        <%= form_with url: cart_path(@cart), method: :patch do |f| %>
          <%= f.hidden_field :item_id, value: item.id %>
          <%= f.number_field :quantity, min: 1 %>
        <%= f.submit "Update Quantity" %>
        <% end %>
      </p>
      <p class="card-text">Subtotal: <%= number_to_currency((item.price * @cart.contents[item.id.to_s])) %></p>
    </div>
    <%= button_to "Remove from cart", cart_path(id: item.id), method: :delete, class: "btn btn-primary text-center" %>
  </div>
  </div>
    <% end %>
</div>
</div>
