<h1>Your Cart</h1>
<p>Please log in to purchase!</p>

<h3>Your current cart total: $<%= @cart.total_price %></h3>

<div class="card" style="width: 18rem;">
  <% @cart_items.each do |item| %>
  <div class ='item' id="cart-item-<%= item.id %>">
    <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text">Price: $<%= item.price %></p>
      <p class="card-text"><%= item.quantity %></p>
      <p class="card-text">Subtotal: $<%= (item.price * quantity).round(2) %></p>
    </div>
  </div>
    <% end %>
</div>
